<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Court Connect</title>
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.32/dist/vue.esm-browser.js",
                    "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@5.0.4/dist/vue-router.esm-browser.prod.js",
                    "@graffiti-garden/implementation-decentralized": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-decentralized@0.0.9/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@1.2.2/dist/browser/plugin.mjs"
                }
            }
        </script>
        <script src="index.js" type="module"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">Loading...</div>
        <template id="template">
            <div class="app">
                <header>
                    <div class="hero">
                        <h1><router-link to="/">Court Connect</router-link></h1>
                        <p>Plan Pickleball and tennis meetups!</p>
                    </div>
                    <nav v-if="session" class="nav">
                        <router-link to="/profile" class="nav-link">Profile</router-link>
                        <router-link to="/matches" class="nav-link">Matches</router-link>
                        <router-link to="/chats" class="nav-link">Chats</router-link>
                    </nav>
                    <div class="actions">
                        <button v-if="session === null" @click="logIn()">Log In</button>
                        <button v-else-if="session" @click="logOut()">Log Out</button>
                    </div>
                </header>
                <main>
                    <router-view></router-view>
                </main>
            </div>
        </template>
    </body>
</html>
